<div class="row small-offset-2 small-10 columns">
	<h1>Holla at your boy: Index page!!!</h1>
</div>

<div class="row">



	<div class="small-4 columns">
		<h2>Record</h2>
		<p>0-0-0</p>
		<h2>Open Wagers</h2>
	</div>

	<a href="#" class="button round">New Wager</a>

</div>
