<div class="row small-offset-2 small-10 columns">
	<h1>Holla at your boy: Index page!!!</h1>
</div>

<div class="row">
	
	<div class="large-12 columns record">
		<h2>Record</h2>
		<h4>0-0-0</h4>
	</div>

	<ul class="button-group">
	  <li><%= link_to 'Open', wagers_path, :class => "button secondary" %></li>
	  <li><%= link_to 'New', new_wager_path, :class => "button secondary" %></li>
	  <li><a href="#" class="button secondary">Settings</a></li>
	</ul>

	<div class="row large-offset-2 large-10">
		<h2>Open Wagers</h2>
	</div>

</div>
