<h2>Create a Wager</h2>

<form>
  <fieldset>
    <legend>Create a wager</legend>

    <div class="row">
      <div class="large-12 columns">
        <label>Title</label>
        <input type="text" placeholder="The Bet To End All Bets">
      </div>
    </div>
	  <!-- _____________________________________________________ -->
    <div class="row">
      <div class="large-4 columns">
        <label>With</label>
        <input type="text" placeholder="Choose A Friend">
      </div>

      <div class="large-4 columns">
        <label>Input Label</label>
        <input type="text" placeholder="large-4.columns">
      </div>
    </div>
      <!-- _____________________________________________________ -->

	<div class="row">
      <div class="large-12 columns">
        <label>Description</label>
        <textarea placeholder="What's all this about?"></textarea>
      </div>
    </div>

	  <!-- _____________________________________________________ -->    

    <div class="row">  
      <div class="large-12 columns">
        <div class="row collapse">
          <h4>Terms</h4>
		</div>
	  </div>
	  <div class="large-6 columns">
        <div class="row collapse">
          <label>For You To Win (max: 4)</label>
          <div class="large-11 columns">
            <input type="text" placeholder="You have to do it naked">
          </div>
          <div class="large-1 columns">
          	<a href="#" class="button small">+</a>
          </div>
        </div>
      </div>
        <div class="large-5 columns">
          <div class="row collapse">
          <label>For Them To Win (max: 4)</label>
          <div class="large-11 columns">
            <input type="text" placeholder="You have to do it naked">
          </div>
          <div class="large-1 columns">
          	<a href="#" class="button small">+</a>
          </div>
        </div>

      <!-- _____________________________________________________ -->
    </div>

    

  </fieldset>
</form>