<h1>Your Ticket Stub</h1>

<h5>Your friend has been notified. The wager isn't officially on until your friend accepts. Share this ish with your buds!</h5>

	
	
	<div class="stub large-12 columns">
		<div class="header row">
			<h2 class="stub_logo">Wager War</h2>
			<h6><%= @wager.title %></h6>
		</div>
		<div class="barcode row">
			<h2>|||| | || ||| || | || ||||| |</h2>
		</div>
		<div class="description row">
    		<p><%= @wager.description %></p>
		</div>
		<div class="terms row">
			<div class="large-6 columns">
				<h6><strong>If you win:</strong></h6>
				<p class="host">
			    	<%= @wager.host_terms %>
  				</p>
			</div>
			<div class="large-6 columns">
				<h6><strong>If they win:</strong></h6>
				<p class="guest">
			    	<%= @wager.guest_terms %>
  				</p>
			</div>
		</div>
		
	</div>
