<h1>Your Ticket Stub</h1>

<h5>Your friend has been notified. The wager isn't officially on until your friend accepts. Share this ish with your buds!</h5>

	
	
	<div class="stub large-12 columns">
		<div class="header row">
			<h2>Wager War</h2>
			<h6><%= @wager.title %></h6>
		</div>
		<div class="barcode row">
			<h2>|||| | || ||| || | || ||||| |</h2>
		</div>
		<div class="description row">
    		<p><%= @wager.description %></p>
		</div>
		<div class="terms row">
			<div class="large-6 columns">
				<h6><strong>For you to win:</strong></h6>
				<ul class="host">
			    	<% @host_terms.each do |term| %>
			    		<li><%= term.host_criterion %></li>
					<% end %>
  				</ul>
			</div>
			<div class="large-6 columns">
				<h6><strong>For them to win:</strong></h6>
				<ul class="guest">
			    	<% @guest_terms.each do |term| %>
			    		<li><%= term.guest_criterion %></li>
					<% end %>
  				</ul>
			</div>
		</div>
		
	</div>
