<h1>Your Ticket Stub</h1>

<h6>Your friend has been notified. The wager isn't officially on until your friend accepts. Share this ish with your buds!</h6>

<div class="row">
  <div class="large-4 columns">
    <h6><strong>Title:</strong></h6>
    <p><%= @wager.title %></p>

    <h6><strong>Description:</strong></h6>
    <p><%= @wager.description %></p>
  	
  </div>
</div>