@font-face {
    font-family: 'pixelmixregular';
    src: url('pixelmix-webfont.eot');
    src: url('pixelmix-webfont.eot?#iefix') format('embedded-opentype'),
         url('pixelmix-webfont.woff') format('woff'),
         url('pixelmix-webfont.ttf') format('truetype'),
         url('pixelmix-webfont.svg#pixelmixregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Pixelmix_Bold';
    src: url('pixelmix_bold.ttf');
    font-weight:bold;
}

$stubfont: pixelmixregular;

h2, h6, p {
	font-family: $stubfont, sans-serif;
	text-align: center;
}

.barcode {
	border: 1px solid black;
}